.grid-container{
    width: 300px;
    /* height: 300px; */
    background-color: var(--darkgray);
    /* background-color: red; */
    border: 2px solid var(--darkgray);
    border-radius: 0.75rem;
    
   
}
.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
margin:1.5rem;
}

.coin-logo{
height: 3rem;
width: 3rem;

}

.coin-symbol{

    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.coin-name{

    color: var(--gray);
    text-transform: capitalize;
    font-weight: light;
    margin: 0;
}

.name-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chip-flex{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 1rem 1.5rem;
}

.price-chip{

    border: 2px solid green;
    border-radius: 2rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    color: green;
    font-size: 1rem;
    min-width: 60px;


}
.price-chip:hover,.icon-chip:hover{
    background-color: green;
    color: white;
    transition: all 0.3s;
}

.chip-red{
    border: 2px solid red !important;
    color: red !important ;
}
.chip-red:hover{
    background-color: red !important;
    color: white !important;
    transition: all 0.3s;
}
.icon-chip{
    border: 2px solid green;
    border-radius: 50%;
    height: 1.5rem !important;
    width: 1.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 1.1rem;
}

.chip-red{
    border: 2px solid red !important;
    color: red !important;
}
.total-volume{
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: 500;
}
.info-container{
    margin: 1.5rem ;
}
.coin-price {
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
}
.grid-container:hover{
    border-color: green;
    transition: all 0.3s;

}

.grid-container-red:hover{
    border-color: red;
    transition: all 0.3s;
}
 