.btn{
    background-color: blue;
    color: var(--white);
    padding: .7rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
box-shadow: 5px 5px 10px rgba(58,128,233,05);
transition: all 0.3s;
background-color: var(--black);
border: 1px solid var(--blue);

}

.outlined-btn{
    background-color:var(--black);
    color: var(--white);
    
    padding: .7rem 1.5rem;
    border: 1px solid var(--blue);
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.outlined-btn:hover{
    background-color:blue;
box-shadow: 5px 5px 10px rgba(58,128,233,05);
transition: all 0.3s;

}

